<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'css.html' %}
    {% block extracss %}
    {% endblock extracss %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>

    {% include 'navbar.html' %}

    {% block body %}
    {% endblock body %}
    {% include 'js.html' %}
    {% block extrajs %}
    {% endblock extrajs %}
    
</body>
</html>